{% extends 'base.html.twig' %}
{% block header_img %}{% endblock %}

{% block content %}
    <h1>Erreur</h1>
    <p>Vous n'evez pas le droit ! Retourner sur la <a href="{{ path('homepage') }}">page d'accueil</a>.</p>
{% endblock %}